<%= cache_if current_user.nil?, "public-events-v1", expires_in: 10.seconds do %>
  <div class="container">
    <div class="card-columns">
      <div class="row">
        <% @events.each do |event| %>
          <%= cache event do %>
            <div class="col-lg-3 d-flex align-items-stretch">
              <%= render event %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
