  <div class="container">
    <div class="card-columns">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-sm mb-3 mt-3">
            <%= render event %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
